// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
@import "~nprogress/nprogress";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "bootstrap-select.min.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.valign-top {
  vertical-align: top !important;
}
.valign-mid {
  vertical-align: middle;
}

.invalid-msg {
  margin: 0;
  font-size: 0.95rem;
  color: #fe195e !important;
}

.invalid-field {
  border: 1px solid #fe195e !important;
}

.height-100-percent
{
  height: 100%;
}

.table-report
{
  font-size: 9pt;
}
.table-report th, .table-report td
{
  padding: 3px 4px 3px 4px !important;
}

.search-result-box
{
  width: 500px; max-height: 500px; display: block; background: #fff; position: absolute; z-index: 999;border: 1.3px solid #e6e7e8;
  overflow-y: scroll;
}

@media print {
  body * {
    //visibility: hidden;
  }
  .section-to-print, .section-to-print * {
    visibility: visible;
  }
  .section-to-print {
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    right:0;
  }
}