
.header-home {
    background:
            linear-gradient(
                    rgba(0, 43, 255, 0.20),
                    rgba(0, 43, 255, 0.40)
            ),
            url('../img/banner-home.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;
}

.text-banner-home
{
    font-size: 25pt !important;
    margin-top:150px;
    margin-bottom:150px;
    font-weight: bold;
}
.about-us {
    color: #313437;
    background-color: #fff;
    padding: 100px 0 0px 0px;
    position: relative;
}

.about-us p {
    color: #7d8285;
}

.about-us h2 {
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
}

.home-phone-krowrier {
    background: url("../img/min-phone-split.png");
    position: absolute;
    width: 600px;
    height: 486px;
    right: 0;
    bottom: 0px;
    background-size: 600px 486px;
    background-repeat: no-repeat;
}

.about-us .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
}

.about-us .buttons {
    text-align: center;
}

.about-us .buttons .btn {
    padding: 16px 32px;
    margin: 6px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none;
    background-color: #ddd;
}

.about-us .buttons .btn:hover {
    opacity: 1;
}

.about-us .buttons .btn:active {
    transform: translateY(1px);
}

.about-us .buttons .btn-primary {
    background-color: #055ada;
    color: #fff;
}

.features-boxed {
    color: #313437;
    background-color: #eef4f7;
}

.features-boxed .banner-feature
{
    padding-top: 50px;
    height: 400px;
    background:
            linear-gradient(
                    rgba(83, 83, 83, 0.6),
                    rgba(0, 43, 255, 0.40)
            ),
            url('../img/feature-banner.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: -160px;
}

.features-boxed .banner-feature .intro
{
    color: #ffffff !important;
}

.features-boxed .banner-feature .intro p, .features-boxed .banner-feature .intro h2
{
    color: #ffffff !important;
}

.features-boxed p {
    color: #b2b2b2;
}

.features-boxed h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .features-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.features-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.features-boxed .intro p {
    margin-bottom: 0;
}

.features-boxed .features {
    padding: 50px 0;
}

.features-boxed .item {
    text-align: center;
}

.features-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border: 0px solid;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
}

.features-boxed .item .icon {
    font-size: 60px;
    color: rgba(0,43,255,1);
    color: -moz-linear-gradient(-45deg, rgba(0,43,255,1) 0%, rgba(81,111,245,1) 100%);
    color: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,43,255,1)), color-stop(100%, rgba(81,111,245,1)));
    color: -webkit-linear-gradient(-45deg, rgba(0,43,255,1) 0%, rgba(81,111,245,1) 100%);
    color: -o-linear-gradient(-45deg, rgba(0,43,255,1) 0%, rgba(81,111,245,1) 100%);
    color: -ms-linear-gradient(-45deg, rgba(0,43,255,1) 0%, rgba(81,111,245,1) 100%);
    color: linear-gradient(135deg, rgba(0,43,255,1) 0%, rgba(81,111,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002bff', endColorstr='#516ff5', GradientType=1 );
    margin-top: 20px;
    margin-bottom: 35px;
}

.features-boxed .item .name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 0;
    color: inherit;
}

.features-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.business-section
{
    color: #313437;
    background-color: #EAE9EB;
    padding: 50px 0 50px 0;
}

.business-section p {
    color: #7d8285;
}

.business-section .business-box
{

}

.business-section .business-box .box-left
{
    background-color: #1E4080;
    color:#ffffff;
    position: relative;
}

.business-section .business-box .box-left h2
{
    color:#ffffff !important;
    font-weight: bold;
}

.business-section .business-box .box-left p
{
    color:#ffffff !important;
    letter-spacing: 2px;
}

.business-section .business-box .box-left .picking-person
{
    background: url("../img/Illustrasi-Krowrier2.png");
    height: 100%;
    padding:40px 70px 40px 40px;
    background-size: 385px 428px;
    background-position: right -20px bottom -80px;
    background-repeat: no-repeat;
}


.business-section .business-box .box-right
{
    padding:40px;
    background-color: #FFFFFF;
}

.business-section .business-box .box-right h3
{
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 40px;
}

.business-section .business-box .box-right p
{
    letter-spacing: 2px;
}



